<li class="flex align-center gap margin-none" style="--bubble-color: <%= bubble.color %>; <%= bubble_rotation(bubble) %>"
    data-controller="animation" data-animation-play-class="bubble--wobble" data-animation-play-on-load-value="true" data-action="mouseover->animation#play">
  <div class="bubble__shape"></div>

  <%= link_to bucket_bubble_path(bubble.bucket, bubble), class: "bubble__title-link flex align-center gap flex-item-grow min-width" do %>
    <strong class="bubble__title-text flex--inline gap-half overflow-ellipsis"><%= bubble.title %></strong>
  <% end %>

  <% if bubble.due_on.present? %>
    <time class="txt-nowrap txt-small fill-black txt-reversed border-radius" style="background-color: <%= bubble.color %>; padding: 0.4em 1em;">
      <strong>DUE:</strong> <%= bubble.due_on.strftime("%b %d") %>
    </time>
  <% end %>

  <div class="flex align-center gap flex-item-no-shrink">
    <% bubble.assignees.each do |assignee| %>
      <span class="txt-small"><%= avatar_tag assignee, loading: :lazy %></span>
    <% end %>
  </div>

  <small class="flex align-center gap flex-item-no-shrink">
    <% bubble.tags.each do |tag| %>
      <%# FIXME: This is not going to work, this partial must be cacheable, so it can't mutate a changeable view filter live. Need a JS solution. %>
      <%= link_to "##{tag.title}", bucket_bubbles_path(bubble.bucket, view_filter_params.merge(tag_ids: tag.id)), style: "color: #{bubble.color}" %>
    <% end %>

    <%= tag.time bubble.created_at, class: "txt-nowrap flex-item-justify-end" do %>
      <%= bubble.created_at.strftime("%b %d") %>
    <% end %>
  </small>
</li>
